body.dark-theme, body.dark-theme * {
  background-color: #252525 !important;
  color: #ffffff !important;
  transition: all 0.3s ease;
}

body.dark-theme .btn-warning {
  background-color: #ffd260;
  color: #252525;
}

/* Navbar'a daha da koyu görünüm */
body.dark-theme .navbar {
  background-color: #111 !important;
  border-bottom: 1px solid #444;
}

/* Toggle butonu karanlık temada ters renk olsun */
body.dark-theme #toggleThemeBtn {
  background-color: #ffd260;
  color: #252525;
  border-color: #ffd260;
}

body.dark-theme .footer_section {
  background-color: #111 !important;
  color: #ffd260 !important;
}

.buttonitem {
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: 500px; /* SABİT yükseklik */
}

.adformbuttonitem {
  border-radius: 20px;
  width: 100%;
}

.userdetailbuttonitem {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
}

.carditem {
  border: 0 !important;
  padding: 1.5rem;
  margin-top: 2rem;
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .carditem {
    padding: 1rem;
    margin-top: 1rem;
  }
}

.bidcarditem {
  border: 0 !important;
  padding: 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .bidcarditem {
    width: 200% !important;
    min-width: 300px !important;
    margin: 0 auto;
  }
}

.cardimage {
  border-radius: 20px;
  padding-top: 10px;
  width: 70%;
  min-height: 300px;         /* sabit yükseklik */
  object-fit: contain;     /* orantılı kırpar */
}

@media (max-width: 768px) {
    .cardimage {
        border-radius: 20px;
        padding-top: 10px;
        width: 100%;
        min-height: 100px;
        object-fit: contain;
    }
}

.indexcardimage {
    border-radius: 20px;
    padding-top: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;     /* orantılı kırpar */
}

@media (max-width: 768px) {
    .indexcardimage {
        border-radius: 20px;
        padding-top: 10px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.adpostcardimage {
    border-radius: 20px;
    padding-top: 10px;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .adpostcardimage {
        border-radius: 20px;
        padding-top: 10px;
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
}

.bidscardimage {
  border-radius: 20px;
  padding-top: 10px;
  width: 45%;
  min-height: 200px;         /* sabit yükseklik */
  object-fit: contain;     /* orantılı kırpar */
}

@media (max-width: 768px) {
    img.bidscardimage {
        border-radius: 20px !important;
        width: 100% !important;
        object-fit: contain !important;
        margin-bottom: 15px !important;
    }
}

.modelinfo {
  border-radius: 20px;
  padding-bottom: 10px;
}

.damagebuttons {
    padding-top: 70px;
    padding-right: 90px;
}

@media (max-width: 768px) {
    .damagebuttons {
        padding-top: 50px;
        padding-right: 30px !important;
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    .damagetypelabel {
        margin-bottom: 10px;
    }
}

.damageparts {
    padding-top: 100px;
}

@media (max-width: 768px) {
    .damageparts {
        width: 100%;
        padding-left: 20px;
    }
}

.damagesubmitbutton {
    padding-top: 150px;
}

@media (max-width: 768px) {
    .damagesubmitbutton {
        padding-top: 80px;
    }
}

.adpartbutton {
    margin-bottom: 20px;
}

.adform {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 768px) {
    .adform {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.adforminteger {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 768px) {
    .adforminteger {
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-width: 300px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .adformbutton {
        margin-bottom: 20px;
    }
}

.input-group-append {
  cursor: pointer;
}

i.fa.fa-calendar {
  padding: 4px;
}

i.bi.bi-clock {
    padding: 4px;
}

.datepicker td,
th {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
}

.datepicker {
  border: 10px solid black;
}

.date {
    padding: 10px;
}

.adformtextarea {
    padding: 70px;
}

.step5button {
    width: 160px !important;
    height: 40px;
    white-space: nowrap;
}

.partstable {
    margin: 0;
}

@media (max-width: 768px) {
    .partstable {
        margin-top: 60px !important;
    }
}

.imageform {
    width: 700px !important;
    height: 150px !important;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px !important;
    padding: 20px !important;
}

.imageform::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/static/images/top-1509626747.jpg');
    background-size: cover;
    filter: blur(1px);
    z-index: 0;
}

.card-img-overlay {
    position: relative;
    z-index: 2;
    height: 100%;
}

.imageformbutton {
    position: relative;
    z-index: 1;
    width: 700px !important;
    height: 150px !important;
    background: transparent;
    border: none;
    padding: 0;
}

.imagecard-title,
.card-text {
    position: relative;
    z-index: 2;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
  .imageform,
  .imageformbutton {
    width: 100% !important;
    height: 120px !important;
  }

  .imagecard-title {
    font-size: 27px;
  }
}

.imagerow {
    display: flex;
    justify-content: center;  /* Yatay ortalama */
    align-items: center;      /* Dikey ortalama */
}

.imageformtitle {
    padding: 50px;
}

@media (max-width: 768px) {
    .imageformtitle {
        padding: 30px;
    }
}

.ratio-box {
  aspect-ratio: 3 / 2;   /* Örnek: 3:2 oran (300x200 gibi) */
  width: 100%;           /* Kolon genişliğine göre ayarlanır */
  height: 80%;
  min-height: 200px;
  min-width: 400px;
  overflow: hidden;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media (max-width: 768px) {
    .ratio-box {
        min-width: 300px;
        min-height: 200px;
    }
}

.ratio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.adimagescard {
    border: none;
    box-shadow: none;
}

.addedimage {
    padding: 70px;
}

.addedimagebutton {
    display: block;
    margin: 0 auto 30px;
}

.step6button {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .step6button {
        margin-top: 40px;
    }
}

#carouselExampleIndicators {
  position: relative; /* Burası şart! */
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.carouselinner {
    height: auto;
    width: 100%;
}

.carouselitem {
  padding-top: 45px; /* veya 20px */
}

.detailimagefooter {
  position: relative;
  z-index: 1;
  background-color: #dddddd;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.carouselimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media (max-width: 768px) {
    .carouselimage {
        height: 200px;
    }
}

.detailtable {
    margin-top: 60px !important;
}

@media (max-width: 768px) {
    .detailtable {
        font-size: 14px;
    }
}

.image-footer {
    width: 600px;
    margin: 0 auto; /* ortalar */
    background-color: #f5f5f5; /* isteğe bağlı arka plan */
    border-top: 2px solid #ccc; /* görselden ayrım için çizgi */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* isteğe bağlı gölge */
}

.detailadname {
  font-size: 1.5rem;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
  text-align: center;
}

.detaildescription {
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-top: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 200px;
}

.detaildescriptiontitle {
    padding: 20px;
}

.detaildamagetable {
    width: 100% !important;
    max-width: 650px;
    margin: 0 auto 120px auto;
    table-layout: fixed;
}

.detailuser {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.detailuserimage {
    width: 150px;            /* Eşit genişlik ve yükseklik */
    height: 150px;
    object-fit: cover;       /* Görselin kırpılmadan düzgün görünmesi için */
    border-radius: 50%;      /* Tam daire */
    border: 2px solid #ccc;  /* İsteğe bağlı: kenarlık */
    display: block;
    margin: 0 auto;
}

.detailusercard {
    padding: 10px;
}

.detaildamagetitle {
    margin-bottom: 20px !important;
}

.detaildamage {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 100px auto;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    margin-top: 120px;
}

.createusergsm {
    padding-top: 24px;
}

.createusernamerow {
    padding-top: 40px;
}

.createuserimagerow {
    padding-top: 40px;
}

.createuserprofilepicture {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* isteğe bağlı gölge */
}

.createuserbiographyrow {
    padding-top: 40px;
}

.createuserpasswordrow {
    padding-top: 40px;
}

.createuserbutton {
    margin-top: 25px !important;
}

.updateuserimage {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    border: 1px solid #000000;
}

.detailuserpage {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
    text-align: center;
}

.detailuserbiography {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    height: 397px;
    width: 1000px;
}

@media (max-width: 768px) {
    .detailuserbiography {
        margin-top: 30px !important;
        margin-bottom: 120px !important;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top: 10px;
        text-align: center;
        height: 397px;
        width: 100%;
    }
}

.detailusercardtext {
    color: #7e7e7e;
    font-size: 15px;
}

.deleteimagebutton {
    height: 50px;
    width: 100%;
    border: 0px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
  .deleteimagebutton {
    width: 100% !important;
    margin-bottom: 20px;
  }
}

.carditemdetail {
    border: 0px !important;
    padding: 110px;
    margin-top: 90px;
}

.buttonitemdetail {
    border-radius: 20px;
    border-bottom-left-radius:0 !important;
    border-bottom-right-radius:0 !important;
    border-bottom: 0px;
    width: 400px !important;
}

.updateadbutton {
    height: 50px;
    width: 100%;
    border: 2px solid #000000;
    border-top: 0px;
}

.updateadbuttondisabled {
    height: 50px;
    width: 400px;
    border: 2px solid rgba(118, 118, 118, 0.3);
}

.deleteadbutton {
    height: 50px;
    width: 100%;
    border: 2px solid #000000;
    border-top: 0px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.deleteadbuttondisabled {
    height: 50px;
    width: 400px;
    border: 2px solid rgba(118, 118, 118, 0.3);
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.adinformation {
    color: rgba(118, 118, 118, 0.3);
}

.bidbuttonitem {
    border-radius: 20px;
    width: 900px !important;
}

@media (max-width: 768px) {
    .bidbuttonitem {
        border-radius: 20px;
        width: 100% !important;
        display: block;
        text-align: center;
    }
}

.bidcardimage {
    border-radius: 20px;
    padding-top: 10px;
    margin-right: 450px !important;
}

.bidcardtitle {
    margin-right: 500px !important;
}

@media (max-width: 768px) {
    .bidcardtitle {
        text-align: center;
        margin: 0 !important;
        font-weight: bold;
    }
}

.bidprice {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .bidprice {
        margin: 0 auto 15px;
        text-align: center;
    }

    .d-flex.align-items-center {
        flex-direction: column !important;
        align-items: center !important;
    }
}

.bidobjects {
    margin-left: 380px !important;
}

@media (max-width: 768px) {
    .bidobjects {
        width: 100%;
        margin: 0 auto !important;
        padding: 0 10px;
    }
}

.center-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarbrand {
    color: #111 !important;
    font-size: 20px;
}

.navbarbrand:hover {
    color: #111 !important;
    font-size: 20px;
    transition: all 0.3s ease;
    transform: scale(1.30);
}

.navbarbrandwhite {
    color: #ffffff !important;
    font-size: 20px;
}

.navbarbrandwhite:hover {
    color: #ffffff !important;
    font-size: 20px;
    transition: all 0.3s ease;
    transform: scale(1.30);
}

.navbartext {
    color: #111 !important;
    font-size: 20px;
}

.navbartext:hover {
    color: #111 !important;
    font-size: 20px;
    transition: all 0.3s ease;
    transform: scale(1.08);
}

.navbartextwhite {
    color: #ffffff !important;
    font-size: 20px;
}

.navbartextwhite:hover {
    color: #ffffff !important;
    font-size: 20px;
    transition: all 0.3s ease;
    transform: scale(1.08);
}

.navbartoggler {
    font-size: 34px;
    color: #111;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    padding: 95px 0px;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
}

.location_text li {
    font-size: 14px;
    color: #ffffff;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #ffffff;
}

.filteradbutton {
    margin-top: 20px;
    margin-bottom: 80px;
}

.filtertitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtersubmitbutton {
    margin-top: 20px;
    background: linear-gradient(to right, #0986b2, #07cdff) !important;
}

.filtersubmitbutton:hover {
    margin-top: 20px;
    background: linear-gradient(to right, #0986b2, #07cdff) !important;
    transition: all 0.3s ease;
    transform: scale(1.08);
}

.filtertitle {
    margin-top: 20px;
}

.filterinput {
    margin-bottom: 10px;
}

.filtercol {
    margin-left: 160px !important;
}

@media (max-width: 768px) {
    .filtercol {
        margin-left: 0px !important;
    }
}

.indextitle {
    margin-top: 30px;
    font-size: 70px !important;
}

.pagetitle {
    font-size: 70px !important;
}

.pageparagraph {
    font-size: 30px;
    margin-bottom: 70px;
}

.pagetitlewhite {
    font-size: 70px !important;
    color: #ffffff;
}

.pageparagraphwhite {
    font-size: 30px;
    margin-bottom: 70px;
    color: #ffffff;
}

.indexparagraph {
    margin-bottom: 70px;
}

.infocard {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.30);
    height: 250px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.25);
}

.infocard:hover {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.30);
    height: 250px;
    width: 400px;
    transition: all 0.3s ease;
    transform: scale(1.08);
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px); /* arka planı blur yapar */
    -webkit-backdrop-filter: blur(10px); /* Safari desteği için */
}

@media(max-width: 768px) {
    .infocard {
        border-radius: 10px;
        text-align: center;
        margin-bottom: 40px;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.30);
        height: 220px;
        width: 335px;
        background-color: rgba(255, 255, 255, 0.25);
    }

.infocard:hover {
        border-radius: 10px;
        text-align: center;
        margin-bottom: 40px;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.30);
        height: 220px;
        width: 335px;
        transition: all 0.3s ease;
        transform: scale(1.08);
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(10px); /* arka planı blur yapar */
        -webkit-backdrop-filter: blur(10px); /* Safari desteği için */
    }
}

.caricon {
    font-size: 90px;
}

@media(max-width: 768px) {
    .caricon {
        font-size: 70px;
    }
}

.infobutton {
    border: 0px;
    background-color: #ffffff;
    height: 250px;
    width: 400px;
}

.infotitle {
    font-size: 40px;
}

.startersection {
    background-image: url("../images/2449122282.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.brandsection {
    background-image: url("../images/arac-satisi-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.modelsection {
    background-image: url("../images/sıfır-araba-almak (3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.adstartersection {
    background-image: url("../images/sıfır-araba-almak (3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.damagedpartsection {
    background-image: url("../images/oto-ekspertiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 250px;
}

@media (max-width: 768px) {
    .damagedpartsection {
        background-image: url("../images/oto-ekspertiz.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding-bottom: 10px;
    }
}

.imagesection {
    background-image: url("../images/audi-a5_2391bee28.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.createusersection {
    background-image: url("../images/volkswagen-golf.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.loginusersection {
    background-image: url("../images/peugeot-308.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.updateusersection {
    background-image: url("../images/kia-sorento-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.bidsection {
    background-image: url("../images/fiyat-teklifi-gonderirken-nelere-dikkat-edilmeli.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.indexsection {
    background-image: url("../images/mercedes-benz-amg-cgi-8c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.filterbrandsection {
    background-image: url("../images/cin-araba-markalari.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.filtermodelsection {
    background-image: url("../images/skoda-rs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.filterstartersection {
    background-image: url("../images/H1_skoda-octavia-rs_216-copy_bafa8f92-1920x1080.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.bids-h5 {
    font-size: 30px;
    margin-left: 150px;
}

@media (max-width: 768px) {
    .bids-h5 {
        font-size: 30px;
        margin-left: 0px;
    }
}

.bids-button {
    margin-left: 150px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .bids-button {
        margin-bottom: 30px;
        margin-left: 0px !important;
        margin-right: 0px;
    }
}

.datepicker {
    border: 0px !important;
    padding: 0px !important;
}

.footertext {
    font-size: 17px;
    color: #ffffff !important;
}

.footertext:hover {
    font-size: 17px;
    color: #ffffff !important;
    transition: all 0.3s ease !important;
    transform: scale(1.08) !important;
}

.footer_ul {
    padding: 0px;
}