.input-group-append {
  cursor: pointer;
}

i.fa.fa-calendar {
  padding: 4px;
}

.datepicker td,
th {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
}

.datepicker {
  top: 6em !important;
  border: 10px solid black;
}

.adform {
    padding-top: 100px;
}

.adformtitle {
    padding-top: 70px;
}

.adforminteger {
    padding-top: 10px;
}