<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carstop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css" integrity="sha512-BB0bszal4NXOgRP9MYCyVA0NNK2k1Rhr+8klY17rj4OhwTmqdPUQibKUDeHesYtXl7Ma2+tqC6c7FzYuHhw94g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css" integrity="sha512-MT4B7BDQpIoW1D7HNPZNMhCD2G6CDXia4tjCdgqQLyq2a9uQnLPLgMNbdPY7g6di3hHjAI8NGVqhstenYrzY1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    

    <section id="loginuser" class="loginusersection">
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary center-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbartoggler">...</span>
                </button>
                <div class="collapse navbar-collapse center-navbar" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="navbar-brand navbarbrand" href="/">Carstop</a>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" aria-current="page" href="{% url 'adpost' %}">İlan Oluştur</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'createuser' %}">Kayıt</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'loginuser' %}">Giriş</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'ads' %}">İlanlar</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'detailuser' request.user.id %}">Profil</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'filterad' %}">Filtreler</a>
                    </li>
                    <button id="toggleThemeBtn" class="btn btn-warning">🌙 Dark Mode</button>
                </ul>
                </div>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary center-navbar" data-bs-theme="dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbartoggler">...</span>
                </button>
                <div class="collapse navbar-collapse center-navbar" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="navbar-brand navbarbrand" href="/">Carstop</a>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'createuser' %}">Kayıt</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link navbartext" href="{% url 'loginuser' %}">Giriş</a>
                    </li>
                    <button id="toggleThemeBtn" class="btn btn-warning">🌙 Dark Mode</button>
                </ul>
                </div>
            </div>
        </nav>
        {% endif %}


    {% if messages %}
                
        {% for message in messages %}
            {% if message.tags == "info" %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }} messagealerts">{{ message }}</div>

            {% endif %}


        {% endfor %}
                              
    {% endif %}

    
        <h1 class="text-center pagetitlewhite">Giriş Yapın</h1>
        <p class="text-center pageparagraphwhite">Sitemize Buradan Oturum Açarak Diğer Ayrıcalıklara Erişebilirsiniz</p>
    </section>
    <div class="container">
        <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="invisible"></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Adresiniz" name="email">
                    </div>
                </div>

                <div class="col-6">
                    <div class="input-group createusergsm">
                        <label class="invisible"></label>
                        <input type="password" name="password" class="form-control" placeholder="Şifreniz">
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-success createuserbutton" style="margin-bottom: 30px;">Giriş Yap</button>
                </div>
            </div>
        </form>
    </div>


    <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Hakkımızda</h3>
                  <p class="footer_text">Carstop, alıcı ile satıcıyı buluşturan modern bir araba ihale platformudur. Araba alım-satım sürecini şeffaf, güvenli ve adil hale getirmek amacıyla kuruldu. Her teklif, her detay, her işlem; sağlam temellere dayalı dürüstlük anlayışımızın bir yansımasıdır. Yılların otomotiv tecrübesiyle dijital dünyayı harmanladık. Artık araç almak ya da satmak için galerileri gezmenize gerek yok. Carstop'ta, aracınız ekranınızda, ihale ortamı parmaklarınızın ucunda.</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Menü</h3>
                  <div class="footer_menu">
                  {% if user.is_authenticated %}
                    <ul class="footer_ul">
                        <li><a class="footertext" href="/">Anasayfa</a></li>
                        <li><a class="footertext" href="{% url 'createuser' %}">Kayıt</a></li>
                        <li><a class="footertext" href="{% url 'loginuser' %}">Giriş</a></li>
                        <li><a class="footertext" href="{% url 'adpost' %}">İlan Oluştur</a></li>
                        <li><a class="footertext" href="{% url 'ads' %}">İlanlar</a></li>
                        <li><a class="footertext" href="{% url 'detailuser' request.user.id %}">Profil</a></li>
                        <li><a class="footertext" href="{% url 'filterad' %}">Filtreler</a></li>
                        <li><a class="footertext" href="{% url 'bids' %}">Fiyat Tekliflerim</a></li>
                     </ul>
                  {% else %}
                    <ul class="footer_ul">
                        <li><a class="footertext" href="/">Anasayfa</a></li>
                        <li><a class="footertext" href="{% url 'createuser' %}">Kayıt</a></li>
                        <li><a class="footertext" href="{% url 'loginuser' %}">Giriş</a></li>
                     </ul>
                  {% endif %}
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">İletişim</h1>
                  <div class="location_text">
                     <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Adres : Loram Ipusm</span>
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Telefon : +01 1234567890</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : m.toker2009@gmail.com</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
        </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.min.js" integrity="sha512-x0qixPCOQbS3xAQw8BL9qjhAh185N7JSw39hzE/ff71BXg7P1fkynTqcLYMlNmwRDtgdoYgURIvos+NJ6g0rNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.js" integrity="sha512-1QoWYDbO//G0JPa2VnQ3WrXtcgOGGCtdpt5y9riMW4NCCRBKQ4bs/XSKJAUSLIIcHmvUdKCXmQGxh37CQ8rtZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            language: 'tr'
        });
    });
    </script>

    <script>
    $(document).ready(function () {
        $('.clockpicker').clockpicker({
            autoclose: true
        });
    });
    </script>

    <script>
    const toggleBtn = document.getElementById("toggleThemeBtn");

    // Sayfa açıldığında daha önce seçilen tema uygulanıyor mu?
    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark-theme");
        toggleBtn.innerText = "☀️ Light Mode";
    }

    toggleBtn.addEventListener("click", function () {
        document.body.classList.toggle("dark-theme");

        if (document.body.classList.contains("dark-theme")) {
        localStorage.setItem("theme", "dark");
        toggleBtn.innerText = "☀️ Light Mode";
        } else {
        localStorage.setItem("theme", "light");
        toggleBtn.innerText = "🌙 Dark Mode";
        }
    });
    </script>

</body>
</html>